<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">Desactivar Cuenta</h4>
  </div>
  <div class="modal-body">
    <div class="row text-center">
      <p>En serio Quiere desactivar su cuenta?</p>
      <button type="button" class="btn btn-primary" ng-click="si(link)">Si</button>
      <button type="button" class="btn btn-primary" ng-click="no(link)">No</button>
    </div>
  </div>
  
</div>