@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        /* Firefox 16+*/
    }

    100% {
        -moz-transform: rotate(360deg);
        /* Firefox 16+*/
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}
/*Ini: preloader  midificad por tnina@*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #000000;
    backface-visibility: hidden;

    & .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1001;
    }

    & .loader-inner {
        display: block;
        width: 36px;
        height: 36px;
        position: relative;
        margin: 1px auto;
        background: $primary;
    }

    & .box-1 {
        top: 0;
        -webkit-animation: loading1 2s infinite;
        animation: loading1 2s infinite;
    }

    & .box-1:after {
        content: "";
        display: block;
        width: 36px;
        height: 36px;
        position: absolute;
        left: 36px;
        background: $primary;
        margin-left: 1px;
        -webkit-animation: loading1 2s infinite;
        animation: loading1 2s infinite;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }

    & .box-2 {
        top: 0;
        -webkit-animation: loading1 2s infinite;
        animation: loading1 2s infinite;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
    }

    & .box-2:after {
        content: "";
        display: block;
        width: 36px;
        height: 36px;
        position: absolute;
        left: 36px;
        background: $primary;
        margin-left: 1px;
        -webkit-animation: loading1 2s infinite;
        animation: loading1 2s infinite;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }
}
@-webkit-keyframes loading1 {
    0% {
        background-color: $primary;
    }

    100% {
        background-color: $sidebar;
    }
}
@keyframes loading1 {
    0% {
        background-color: $primary;
    }

    100% {
        background-color: $sidebar;
    }
}
/*Fin: loader  tnina@*/
